.footer .fotbgimg {
    background-color: #464649;
}

.footer .fotbgimg_a {
    width: 1180px;
    margin: 0 auto;
}

.footer .guanyufejiweng {
    padding-bottom: 25px;
    padding-left: 36px;
}

.footer .guanyufejiweng ul {
    padding-top: 22px;
    float: left;
    width: 218px;
    background: url(/common/images/dibubanweg_30.jpg) right 20px no-repeat;
}

.footer .guanyufejiweng ul {
    padding-top: 22px;
    float: left;
    width: 218px;
    background: url(/common/images/dibubanweg_30.jpg) right 20px no-repeat;
}

.footer .fotbgimg_a_a dl {
    width: 218px;
    height: 38px;
}

.footer .guanyufejiweng li {
    line-height: 23px;
    color: #FFF;
    padding-left: 78px;
}

.footer .fotbgimg_a_a dd {
    float: left;
    padding-left: 35px;
}

.footer .fotbgimg_a_a dt {
    float: left;
    width: 125px;
    padding-left: 5px;
    line-height: 31px;
    color: #FFF;
    font-size: 18px;
    font-family: "微软雅黑";
}

.footer .fotbgimg_a_a dd img {
    display: block;
}

.footer .fotbgimg_a_a dt a {
    color: #FFF;
}

.footer .guanyufejiweng a {
    color: #FFF;
}

.footer .fenixanwegww dl {
    width: 218px;
    height: 38px;
}

.footer .fenixanwegww li {
    margin-bottom: 10px;
    padding-left: 60px;
}

.footer .fenixanwegww dd {
    float: left;
    padding-left: 35px;
}

.footer .fenixanwegww dt {
    float: left;
    width: 125px;
    padding-left: 5px;
    line-height: 31px;
    color: #FFF;
    font-size: 18px;
    font-family: "微软雅黑";
}

.footer .fenixanwegww dd img {
    display: block;
}

.footer .fenixanwegww dt a {
    color: #FFF;
}

.footer .fenixanwegww li {
    margin-bottom: 10px;
    padding-left: 60px;
}

.footer .fenixanwegww a {
    display: block;
    height: 40px;
}

.footer .fenixanwegwwa {
    float: left;
}

.footer .fenixanwegwwb {
    float: left;
    width: 82px;
    text-align: right;
    font-size: 18px;
    line-height: 40px;
    font-family: "微软雅黑";
}

.footer .guanyufejiweng a:hover {
    color: #FFF;
    text-decoration: underline;
}
