.footer .naquiawneigeg {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  padding: 20px 0;
  color: #696969;
}
.footer .naquiawneigeg a {
  color: #696969;
  padding: 0 5px;
}
.footer .naquiawneigeg a:hover {
  color: #333;
  text-decoration: underline;
}