.footer .quanguobaooweg {
  background-color: #f9f9f9;
  border-top: #dddddd 1px solid;
  margin-top: 26px;
}
.footer .quanguobaoowege {
  width: 1180px;
  margin: 0 auto;
  padding: 34px 0;
}
.footer .quanguobaoowege dl {
  float: left;
  width: 250px;
  margin-left: 50px
}
.footer .quanguobaoowege dl:first-child{
 margin-left: 20px;
}
.footer .quanguobaoowege dd {
  float: left;
}
.footer .quanguobaoowege dt {
  float: left;
  width: 178px;
  line-height: 66px;
  padding-left: 18px;
  font-size: 26px;
  font-family: "微软雅黑";
}