@charset "utf-8";

.header .logo{ width:1180px; margin:0 auto; height:108px;}
.header .logoa{ padding-top:20px; float:left;}
.header .sousuowenb{ width:362px; height:40px; line-height:35px; float:left; border:0;outline-width:0;outline-style:none; padding:5px 0 5px 15px;}
.header .ssanniu{ width:50px; height:40px; float:right; background:url(/common/images/sousuo_04.jpg) 0 0 no-repeat; border:0}
.header .sousuo{ float:left; margin-top:24px; margin-left:120px; }
.header .ershou{ float:right; margin-top:26px;}
.header .sousuoa{ width:543px;border: 1px solid red}
.header .remenguanjiaci{ line-height:22px; font-family:"微软雅黑";}
.header .remenguanjiaci a{ color:#777777; padding:0 7px;}
.header .remenguanjiaci a:hover{ color:#c81623;padding:0 7px;}