@charset "utf-8";

html, form, ul, ol, li, dl, dt, dd, img, input, div, p {
    margin:0px;
    padding:0px;
    border:0px;
}
ul, dl, li {
    list-style-type:none;
}
.clear {
    clear:both;
}
dt{
    font-weight: normal;
}

.top{ background-color:#f4f4f4; height:39px; line-height:39px; }
.header .topa{ float:left; color:#dbceac}
.header .topb{ color:#666; float:right; text-align:right;}
.header .topb a{ padding:0 8px; color:#707070}
.header .topb a:hover{ padding:0 8px; color:#00853c }
.header .topk{ width:1180px; margin:0 auto;}
.header .logo{ width:1180px; margin:0 auto; height:108px;}
.header .logoa{ padding-top:20px; float:left;}

.header .smerweima{width:110px;height:110px;display:none;right:54px; position:absolute;top:108px;}
.header .shanghaizhan{ float:left; width:520px;}
.header .shanghaizhan li{ float:left;}
.header .shanghaizhan a{ color:#707070}
.header .shanghaizhan a:hover{ color:#00853c  }
.header .haszhan a{ display:block; padding-left:24px; padding-right:18px;color:#707070}
.header .haszhan a:hover{ display:block;  padding-left:24px;padding-right:18px;color:#00853c}
.header .haszhana a{ display:block;  padding-left:9px;}
.header .haszhana a:hover{ display:block;  padding-left:29px;}
.header .haszhanb a{ display:block;padding-left:24px;}
.header .haszhanb a:hover{ display:block; padding-left:24px;color:#00853c}

.header .topyb{ float:right; width:300px}
.header .topzb dl{ float:right; width:78px;}
.header .topzb dt{ width:45px; padding-right:12px; text-align:right; float:left;line-height: 39px}
.header .topzb dd{ float:left; padding-top:9px; padding-left:2px;}
.header .topzb{ float:right; width:160px;}
.header .topzb a{ padding:0px;}
.header .topzb a:hover{ padding:0px;}

