
body{font-size: 14px}
.flow{width:100%;height:125px;box-shadow: 0 5px 3px #ccc;}
   .flow .flow-img{width:1180px;height:100%;margin:0 auto;padding:22px;}
   .flow .flow-img img{float: left;margin-right:15px; }
   .flow .flow-img p{display: inline-block;float:left;margin-right: 19px;line-height: 81px;font-size: 20px}
   .flow .flow-img .xzmb-p{color:#f1421e}
   .flow .flow-img .xzmb-p .right-h{display: inline-block;width:21px;height:15px;background:url("../images/right-hover.png")}
   .flow .flow-img  p .right-d{display: inline-block;width:21px;height:15px;background:url("../images/right-d.png")}

.content{padding-top: 20px}
.content .tab {width: 100%;height: 54px;border: 1px solid #dddddd;border-bottom: 4px solid #ff4100}
.content .tab ul li{float: left;width: 160px;font-size: 20px;text-align: center;height: 50px;}
.content .tab ul li a{line-height: 50px;}
.content .tab ul li:hover{background: #ff4100;color: #fff}
.content .tab ul li:first-child{width: 120px;background: #ff4100;color: #fff}
.content .tab ul li:first-child a:first-child{color: #fff}

.content .property{height: 145px;width: 100%;border: 1px solid #dddddd;border-top: none}
.content .property .hot{height: 84px;width: 100%;border-bottom: 1px solid #dddddd;margin-top: 5px;}
.content .property .hot .right{display: block;margin-left: 100px;}
.content .property .hot ul li {float: left;text-align: center;height:40px;line-height: 40px;width: auto;margin: 0 10px;;}
.content .property .hot ul li a{color: #777;}

.content .property .color{height: 40px;width: 100%}
.content .property .color ul li {float: left;text-align: center;height:40px;line-height: 40px;width: auto;margin: 0 5px;;}
.content .property .pro a:hover{color: #ff4100;}
.content .property .hot a:hover{color: #ff4100;}


.content .rank {width: 100%;height: 42px;border: 1px solid #dddddd;border-top: 2px solid #ff4100;margin-top: 20px;position: relative}
.content .rank ul li{float: left;width: 80px;text-align: center;height: 40px;font-size: 16px;line-height: 40px;color:#525252}
.content .rank  a:hover{color: #ff4100;}
.content .rank .rank-right{float:right;margin-right:10px;display: inline-block;width:186px;
   height:24px;margin-top:8px;font-size: 12px;line-height: 24px;}
.content .rank .rank-right input{display: inline-block;width:100%;border:1px solid #ddd;}
.content .rank .rank-right span{position: absolute;right:20px;top:15px;}
.content .mb-img{width:100%;padding-top:10px;margin:0;}
.content .mb-img .mb{position: relative;padding:0 7px;margin-top:15px;}
.content .mb-img .mb-in{width:100%;border:1px solid #e8e8e8;}
.content .mb-img .mb .fd-sc{position: absolute;width:41px;top:10px;right:10px;display: none;}
.content .mb-img .mb .fd-sc .fangda{width:41px;height:41px;background:url("../images/chazhao.png") no-repeat}
.content .mb-img .mb .fd-sc .shouchang{width:41px; height:41px;margin-top:8px;background:url("../images/shouchang.png") no-repeat;}
.content .mb-img .mb .fd-sc .fangda:hover{background:url("../images/chazhao-hover.png") no-repeat}
.content .mb-img .mb .fd-sc .shouchang:hover{background:url("../images/shouchang-hober.png") no-repeat}
.content .mb-img p{width:100%;display: inline-block;height:40px;line-height: 40px;padding-left:10px;}
.content .mb-img .shejijia{display: inline-block;float:right;font-weight: normal;}
.content .mb-img .shejijia .money{color:#f1421e;font-size: 16px;}
.content .mb-img .mfsj{position: absolute;top:-2px;left:7px;font-size: 12px;color:#fff;background:url("../images/mfsj.png") no-repeat}
